<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.isdp.mapper.FieldInterfaceMapper">

	<resultMap id="fieldInterfaceResultMap"	type="com.glaf.isdp.domain.FieldInterface">
		<id property="listId" column="listId" jdbcType="VARCHAR"/>
		<result property="indexId" column="index_id" jdbcType="VARCHAR"/>
		<result property="frmtype" column="frmtype" jdbcType="VARCHAR"/>
		<result property="issystem" column="issystem" jdbcType="VARCHAR"/>
		<result property="fname" column="fname" jdbcType="VARCHAR"/>
		<result property="dname" column="dname" jdbcType="VARCHAR"/>
		<result property="dtype" column="dtype" jdbcType="VARCHAR"/>
		<result property="showtype" column="showtype" jdbcType="VARCHAR"/>
		<result property="strlen" column="strlen" jdbcType="INTEGER"/>
		<result property="form" column="form" jdbcType="VARCHAR"/>
		<result property="intype" column="intype" jdbcType="VARCHAR"/>
		<result property="hintID" column="hintID" jdbcType="VARCHAR"/>
		<result property="listno" column="listno" jdbcType="INTEGER"/>
		<result property="ztype" column="ztype" jdbcType="VARCHAR"/>
		<result property="ismustfill" column="ismustfill" jdbcType="VARCHAR"/>
		<result property="isListShow" column="isListShow" jdbcType="VARCHAR"/>
		<result property="listweigth" column="listweigth" jdbcType="INTEGER"/>
		<result property="isallwidth" column="isallwidth" jdbcType="VARCHAR"/>
		<result property="istname" column="istname" jdbcType="VARCHAR"/>
		<result property="importType" column="import_type" jdbcType="INTEGER"/>
		<result property="datapoint" column="datapoint" jdbcType="INTEGER"/>
	</resultMap>

 
	<insert id="insertFieldInterface" parameterType="com.glaf.isdp.domain.FieldInterface">
		insert into interface 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    listId
			<if test="indexId != null">
				,index_id 
			</if>
			<if test="frmtype != null">
				,frmtype 
			</if>
			<if test="issystem != null">
				,issystem 
			</if>
			<if test="fname != null">
				,fname 
			</if>
			<if test="dname != null">
				,dname 
			</if>
			<if test="dtype != null">
				,dtype 
			</if>
			<if test="showtype != null">
				,showtype 
			</if>
			<if test="strlen != null">
				,strlen 
			</if>
			<if test="form != null">
				,form 
			</if>
			<if test="intype != null">
				,intype 
			</if>
			<if test="hintID != null">
				,hintID 
			</if>
			<if test="listno != null">
				,listno 
			</if>
			<if test="ztype != null">
				,ztype 
			</if>
			<if test="ismustfill != null">
				,ismustfill 
			</if>
			<if test="isListShow != null">
				,isListShow 
			</if>
			<if test="listweigth != null">
				,listweigth 
			</if>
			<if test="isallwidth != null">
				,isallwidth 
			</if>
			<if test="istname != null">
				,istname 
			</if>
			<if test="importType != null">
				,import_type 
			</if>
			<if test="datapoint != null">
				,datapoint 
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			  #{listId, jdbcType=VARCHAR}
	     
			<if test="indexId != null">
				,#{indexId, jdbcType=VARCHAR}
			</if>
			<if test="frmtype != null">
				,#{frmtype, jdbcType=VARCHAR}
			</if>
			<if test="issystem != null">
				,#{issystem, jdbcType=VARCHAR}
			</if>
			<if test="fname != null">
				,#{fname, jdbcType=VARCHAR}
			</if>
			<if test="dname != null">
				,#{dname, jdbcType=VARCHAR}
			</if>
			<if test="dtype != null">
				,#{dtype, jdbcType=VARCHAR}
			</if>
			<if test="showtype != null">
				,#{showtype, jdbcType=VARCHAR}
			</if>
			<if test="strlen != null">
				,#{strlen, jdbcType=INTEGER}
			</if>
			<if test="form != null">
				,#{form, jdbcType=VARCHAR}
			</if>
			<if test="intype != null">
				,#{intype, jdbcType=VARCHAR}
			</if>
			<if test="hintID != null">
				,#{hintID, jdbcType=VARCHAR}
			</if>
			<if test="listno != null">
				,#{listno, jdbcType=INTEGER}
			</if>
			<if test="ztype != null">
				,#{ztype, jdbcType=VARCHAR}
			</if>
			<if test="ismustfill != null">
				,#{ismustfill, jdbcType=VARCHAR}
			</if>
			<if test="isListShow != null">
				,#{isListShow, jdbcType=VARCHAR}
			</if>
			<if test="listweigth != null">
				,#{listweigth, jdbcType=INTEGER}
			</if>
			<if test="isallwidth != null">
				,#{isallwidth, jdbcType=VARCHAR}
			</if>
			<if test="istname != null">
				,#{istname, jdbcType=VARCHAR}
			</if>
			<if test="importType != null">
				,#{importType, jdbcType=INTEGER}
			</if>
			<if test="datapoint != null">
				,#{datapoint, jdbcType=INTEGER}
			</if>
		</trim>
	</insert>

	 
	<update id="updateFieldInterface" parameterType="com.glaf.isdp.domain.FieldInterface">
		update
		    interface
		set
        <trim prefix="" suffix="" suffixOverrides=",">		
			<if test="indexId != null">
				index_id = #{indexId, jdbcType=VARCHAR},
			</if>
			<if test="frmtype != null">
				frmtype = #{frmtype, jdbcType=VARCHAR},
			</if>
			<if test="issystem != null">
				issystem = #{issystem, jdbcType=VARCHAR},
			</if>
			<if test="fname != null">
				fname = #{fname, jdbcType=VARCHAR},
			</if>
			<if test="dname != null">
				dname = #{dname, jdbcType=VARCHAR},
			</if>
			<if test="dtype != null">
				dtype = #{dtype, jdbcType=VARCHAR},
			</if>
			<if test="showtype != null">
				showtype = #{showtype, jdbcType=VARCHAR},
			</if>
			<if test="strlen != null">
				strlen = #{strlen, jdbcType=INTEGER},
			</if>
			<if test="form != null">
				form = #{form, jdbcType=VARCHAR},
			</if>
			<if test="intype != null">
				intype = #{intype, jdbcType=VARCHAR},
			</if>
			<if test="hintID != null">
				hintID = #{hintID, jdbcType=VARCHAR},
			</if>
			<if test="listno != null">
				listno = #{listno, jdbcType=INTEGER},
			</if>
			<if test="ztype != null">
				ztype = #{ztype, jdbcType=VARCHAR},
			</if>
			<if test="ismustfill != null">
				ismustfill = #{ismustfill, jdbcType=VARCHAR},
			</if>
			<if test="isListShow != null">
				isListShow = #{isListShow, jdbcType=VARCHAR},
			</if>
			<if test="listweigth != null">
				listweigth = #{listweigth, jdbcType=INTEGER},
			</if>
			<if test="isallwidth != null">
				isallwidth = #{isallwidth, jdbcType=VARCHAR},
			</if>
			<if test="istname != null">
				istname = #{istname, jdbcType=VARCHAR},
			</if>
			<if test="importType != null">
				import_type = #{importType, jdbcType=INTEGER},
			</if>
			<if test="datapoint != null">
				datapoint = #{datapoint, jdbcType=INTEGER},
			</if>
        </trim>
		where
          listId = #{listId, jdbcType=VARCHAR}
		
    </update>

 
	<delete id="deleteFieldInterfaceById" parameterType="string"> 
        delete from interface
        where listId = #{id}
	</delete>
	

	<delete id="deleteFieldInterfaces" parameterType="com.glaf.isdp.query.FieldInterfaceQuery">
		delete from interface
		where ( listId IN
		<foreach item="x_rowId" index="index" collection="rowIds" open="(" separator="," close=")">
              #{x_rowId}
		</foreach>
		)
	</delete>


	<select id="getFieldInterfaceById" parameterType="string" resultMap="fieldInterfaceResultMap">
		select * from interface where listId = #{id}
	</select>
	
	
	<select id="getListShowFieldsByFrmType" parameterType="string" resultMap="fieldInterfaceResultMap">
		
		select * from interface a,listshow b 
		where a.frmtype=#{frmType}  
		and a.listid=b.listid  
		order by b.listno

	</select>
	
	<select id="getListShowFields" parameterType="map" resultMap="fieldInterfaceResultMap">
		
		select  distinct * from interface b,listshow a 
		where a.listid=b.listid 
		and a.index_id=#{indexId}
		and a.frmtype=#{frmType}  
		order by a.listno

	</select>
	
	<select id="getFieldsByFrmType" parameterType="string" resultMap="fieldInterfaceResultMap">
		
		select * from interface  
		where frmtype=#{frmType} 
		order by listno

	</select>


	<select id="getFieldInterfaceCount" 
		parameterType="map"
		resultType="int">
		select count(*)
		<include refid="selectFieldInterfacesSql" />
	</select>


	<select id="getFieldInterfaceCountByQueryCriteria" 
		parameterType="com.glaf.isdp.query.FieldInterfaceQuery"
		resultType="int">
		select count(*)
		<include refid="selectFieldInterfacesSql" />
	</select>


	<select id="getFieldInterfaces" 
		parameterType="map"
		resultMap="fieldInterfaceResultMap">
		select E.*
		<include refid="selectFieldInterfacesSql" />
		
		<choose>
			<when test="orderBy != null">
			     order by ${orderBy}
			</when>
			<otherwise>
				 order by E.listno
			</otherwise>
		</choose>
		
	</select>

	<select id="getFieldInterfacesByQueryCriteria" 
		parameterType="com.glaf.isdp.query.FieldInterfaceQuery"
		resultMap="fieldInterfaceResultMap">
		
		select E.*
		<include refid="selectFieldInterfacesSql" />
		
		<choose>
			<when test="orderBy != null">
			     order by ${orderBy}
			</when>
			<otherwise>
				 order by E.listno
			</otherwise>
		</choose>
		
	</select>


	<sql id="selectFieldInterfacesSql">

		from interface E
		 
		<where>

		       1 = 1  
	        
			<if test="indexId != null and indexId != '' ">
				and E.index_id = #{indexId}
			</if>

			<if test="indexIdLike != null and indexIdLike != '' ">
				and E.index_id like #{indexIdLike}
			</if>

			<if test="indexIds != null and indexIds.size() &gt; 0">
			    and E.index_id IN
				<foreach item="x_indexId" index="index" collection="indexIds" 
					open="(" separator="," close=")">
                  #{x_indexId}
				</foreach>
			</if>

	        
			<if test="frmtype != null and frmtype != '' ">
				and E.frmtype = #{frmtype}
			</if>

			<if test="frmtypeLike != null and frmtypeLike != '' ">
				and E.frmtype like #{frmtypeLike}
			</if>

			<if test="frmtypes != null and frmtypes.size() &gt; 0">
			    and E.frmtype IN
				<foreach item="x_frmtype" index="index" collection="frmtypes" 
					open="(" separator="," close=")">
                  #{x_frmtype}
				</foreach>
			</if>

	        
			<if test="issystem != null and issystem != '' ">
				and E.issystem = #{issystem}
			</if>

			<if test="issystemLike != null and issystemLike != '' ">
				and E.issystem like #{issystemLike}
			</if>

			<if test="issystems != null and issystems.size() &gt; 0">
			    and E.issystem IN
				<foreach item="x_issystem" index="index" collection="issystems" 
					open="(" separator="," close=")">
                  #{x_issystem}
				</foreach>
			</if>

	        
			<if test="fname != null and fname != '' ">
				and E.fname = #{fname}
			</if>

			<if test="fnameLike != null and fnameLike != '' ">
				and E.fname like #{fnameLike}
			</if>

			<if test="fnames != null and fnames.size() &gt; 0">
			    and E.fname IN
				<foreach item="x_fname" index="index" collection="fnames" 
					open="(" separator="," close=")">
                  #{x_fname}
				</foreach>
			</if>

	        
			<if test="dname != null and dname != '' ">
				and E.dname = #{dname}
			</if>

			<if test="dnameLike != null and dnameLike != '' ">
				and E.dname like #{dnameLike}
			</if>

			<if test="dnames != null and dnames.size() &gt; 0">
			    and E.dname IN
				<foreach item="x_dname" index="index" collection="dnames" 
					open="(" separator="," close=")">
                  #{x_dname}
				</foreach>
			</if>

	        
			<if test="dtype != null and dtype != '' ">
				and E.dtype = #{dtype}
			</if>

			<if test="dtypeLike != null and dtypeLike != '' ">
				and E.dtype like #{dtypeLike}
			</if>

			<if test="dtypes != null and dtypes.size() &gt; 0">
			    and E.dtype IN
				<foreach item="x_dtype" index="index" collection="dtypes" 
					open="(" separator="," close=")">
                  #{x_dtype}
				</foreach>
			</if>

	        
			<if test="showtype != null and showtype != '' ">
				and E.showtype = #{showtype}
			</if>

			<if test="showtypeLike != null and showtypeLike != '' ">
				and E.showtype like #{showtypeLike}
			</if>

			<if test="showtypes != null and showtypes.size() &gt; 0">
			    and E.showtype IN
				<foreach item="x_showtype" index="index" collection="showtypes" 
					open="(" separator="," close=")">
                  #{x_showtype}
				</foreach>
			</if>
	        
			<if test="form != null and form != '' ">
				and E.form = #{form}
			</if>

			<if test="formLike != null and formLike != '' ">
				and E.form like #{formLike}
			</if>

			<if test="forms != null and forms.size() &gt; 0">
			    and E.form IN
				<foreach item="x_form" index="index" collection="forms" 
					open="(" separator="," close=")">
                  #{x_form}
				</foreach>
			</if>

	        
			<if test="intype != null and intype != '' ">
				and E.intype = #{intype}
			</if>

			<if test="intypeLike != null and intypeLike != '' ">
				and E.intype like #{intypeLike}
			</if>

			<if test="intypes != null and intypes.size() &gt; 0">
			    and E.intype IN
				<foreach item="x_intype" index="index" collection="intypes" 
					open="(" separator="," close=")">
                  #{x_intype}
				</foreach>
			</if>

	        
			<if test="hintID != null and hintID != '' ">
				and E.hintID = #{hintID}
			</if>

			<if test="hintIDLike != null and hintIDLike != '' ">
				and E.hintID like #{hintIDLike}
			</if>

			<if test="hintIDs != null and hintIDs.size() &gt; 0">
			    and E.hintID IN
				<foreach item="x_hintID" index="index" collection="hintIDs" 
					open="(" separator="," close=")">
                  #{x_hintID}
				</foreach>
			</if>
	        
			<if test="ztype != null and ztype != '' ">
				and E.ztype = #{ztype}
			</if>

			<if test="ztypeLike != null and ztypeLike != '' ">
				and E.ztype like #{ztypeLike}
			</if>

			<if test="ztypes != null and ztypes.size() &gt; 0">
			    and E.ztype IN
				<foreach item="x_ztype" index="index" collection="ztypes" 
					open="(" separator="," close=")">
                  #{x_ztype}
				</foreach>
			</if>

	        
			<if test="ismustfill != null and ismustfill != '' ">
				and E.ismustfill = #{ismustfill}
			</if>

			<if test="ismustfillLike != null and ismustfillLike != '' ">
				and E.ismustfill like #{ismustfillLike}
			</if>

			<if test="ismustfills != null and ismustfills.size() &gt; 0">
			    and E.ismustfill IN
				<foreach item="x_ismustfill" index="index" collection="ismustfills" 
					open="(" separator="," close=")">
                  #{x_ismustfill}
				</foreach>
			</if>
	        
			<if test="isListShow != null and isListShow != '' ">
				and E.isListShow = #{isListShow}
			</if>

			<if test="isListShowLike != null and isListShowLike != '' ">
				and E.isListShow like #{isListShowLike}
			</if>

			<if test="isListShows != null and isListShows.size() &gt; 0">
			    and E.isListShow IN
				<foreach item="x_isListShow" index="index" collection="isListShows" 
					open="(" separator="," close=")">
                  #{x_isListShow}
				</foreach>
			</if>
	        
			<if test="isallwidth != null and isallwidth != '' ">
				and E.isallwidth = #{isallwidth}
			</if>	      

	
			<if test="importType != null">
				and E.import_type = #{importType}
			</if>

			<if test="importTypeGreaterThanOrEqual != null">
				and E.import_type &gt;= #{importTypeGreaterThanOrEqual}
			</if>

			<if test="importTypeLessThanOrEqual != null">
				and E.import_type &lt;= #{importTypeLessThanOrEqual}
			</if>

			<if test="importTypes != null and importTypes.size() &gt; 0">
			    and E.import_type IN
				<foreach item="x_importType" index="index" collection="importTypes" 
					open="(" separator="," close=")">
                  #{x_importType}
				</foreach>
			</if>

			<if test="datapoint != null">
				and E.datapoint = #{datapoint}
			</if>

			<if test="datapointGreaterThanOrEqual != null">
				and E.datapoint &gt;= #{datapointGreaterThanOrEqual}
			</if>

			<if test="datapointLessThanOrEqual != null">
				and E.datapoint &lt;= #{datapointLessThanOrEqual}
			</if>

			<if test="datapoints != null and datapoints.size() &gt; 0">
			    and E.datapoint IN
				<foreach item="x_datapoint" index="index" collection="datapoints" 
					open="(" separator="," close=")">
                  #{x_datapoint}
				</foreach>
			</if>
			 
		</where>
	</sql>

</mapper>