<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.isdp.mapper.IsdpFileattMapper">

	<resultMap id="fileattResultMap"	type="com.glaf.isdp.domain.IsdpFileatt">
		<id property="fileID" column="fileID" jdbcType="VARCHAR"/>
		<result property="topid" column="topid" jdbcType="VARCHAR"/>
		<result property="num" column="num" jdbcType="VARCHAR"/>
		<result property="actor" column="actor" jdbcType="VARCHAR"/>
		<result property="fname" column="fname" jdbcType="VARCHAR"/>
		<result property="fileName" column="file_name" jdbcType="VARCHAR"/>
		<result property="vision" column="vision" jdbcType="VARCHAR"/>
		<result property="ctime" column="ctime" jdbcType="TIMESTAMP"/>
		<result property="filesize" column="filesize" jdbcType="INTEGER"/>
		<result property="visID" column="visID" jdbcType="VARCHAR"/>
		<result property="attID" column="attID" jdbcType="VARCHAR"/>
		<result property="istextcontent" column="istextcontent" jdbcType="INTEGER"/>
		<result property="textcontent" column="textcontent" jdbcType="VARCHAR"/>
		<result property="fileContent" column="file_content" jdbcType="BLOB"/>
	</resultMap>

	<resultMap id="fileattResultMap_postgres"	type="com.glaf.isdp.domain.IsdpFileatt">
		<id property="fileID" column="fileID" jdbcType="VARCHAR"/>
		<result property="topid" column="topid" jdbcType="VARCHAR"/>
		<result property="num" column="num" jdbcType="VARCHAR"/>
		<result property="actor" column="actor" jdbcType="VARCHAR"/>
		<result property="fname" column="fname" jdbcType="VARCHAR"/>
		<result property="fileName" column="file_name" jdbcType="VARCHAR"/>
		<result property="vision" column="vision" jdbcType="VARCHAR"/>
		<result property="ctime" column="ctime" jdbcType="TIMESTAMP"/>
		<result property="filesize" column="filesize" jdbcType="INTEGER"/>
		<result property="visID" column="visID" jdbcType="VARCHAR"/>
		<result property="attID" column="attID" jdbcType="VARCHAR"/>
		<result property="istextcontent" column="istextcontent" jdbcType="INTEGER"/>
		<result property="textcontent" column="textcontent" jdbcType="VARCHAR"/>
		<result property="fileContent" column="file_content" jdbcType="BINARY"/>
	</resultMap>

 
	<insert id="insertFileatt" parameterType="com.glaf.isdp.domain.IsdpFileatt">
		insert into fileatt 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    fileID
			<if test="topid != null">
				,topid 
			</if>
			<if test="num != null">
				,num 
			</if>
			<if test="actor != null">
				,actor 
			</if>
			<if test="fname != null">
				,fname 
			</if>
			<if test="fileName != null">
				,file_name 
			</if>
			<if test="fileContent != null">
			    ,file_content
			</if>
			<if test="vision != null">
				,vision 
			</if>
			<if test="ctime != null">
				,ctime 
			</if>
			<if test="filesize != null">
				,filesize 
			</if>
			<if test="visID != null">
				,visID 
			</if>
			<if test="attID != null">
				,attID 
			</if>
			<if test="istextcontent != null">
				,istextcontent 
			</if>
			<if test="textcontent != null">
				,textcontent 
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			  #{fileID, jdbcType=VARCHAR}
	     
			<if test="topid != null">
				,#{topid, jdbcType=VARCHAR}
			</if>
			<if test="num != null">
				,#{num, jdbcType=VARCHAR}
			</if>
			<if test="actor != null">
				,#{actor, jdbcType=VARCHAR}
			</if>
			<if test="fname != null">
				,#{fname, jdbcType=VARCHAR}
			</if>
			<if test="fileName != null">
				,#{fileName, jdbcType=VARCHAR}
			</if>
			<if test="fileContent != null">
			   ,#{fileContent, jdbcType=BLOB}
			</if>
			<if test="vision != null">
				,#{vision, jdbcType=VARCHAR}
			</if>
			<if test="ctime != null">
				,#{ctime, jdbcType=TIMESTAMP}
			</if>
			<if test="filesize != null">
				,#{filesize, jdbcType=INTEGER}
			</if>
			<if test="visID != null">
				,#{visID, jdbcType=VARCHAR}
			</if>
			<if test="attID != null">
				,#{attID, jdbcType=VARCHAR}
			</if>
			<if test="istextcontent != null">
				,#{istextcontent, jdbcType=INTEGER}
			</if>
			<if test="textcontent != null">
				,#{textcontent, jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>

	 
	<update id="updateFileatt" parameterType="com.glaf.isdp.domain.IsdpFileatt">
		update
		    fileatt
		set
		<trim prefix="" suffix="" suffixOverrides=",">		
			<if test="topid != null">
				topid = #{topid, jdbcType=VARCHAR},
			</if>
			<if test="num != null">
				num = #{num, jdbcType=VARCHAR},
			</if>
			<if test="actor != null">
				actor = #{actor, jdbcType=VARCHAR},
			</if>
			<if test="fname != null">
				fname = #{fname, jdbcType=VARCHAR},
			</if>
			<if test="fileName != null">
				file_name = #{fileName, jdbcType=VARCHAR},
			</if>
			<if test="fileContent != null">
				file_content = #{fileContent, jdbcType=BLOB},
			</if>
			<if test="vision != null">
				vision = #{vision, jdbcType=VARCHAR},
			</if>
			<if test="ctime != null">
				ctime = #{ctime, jdbcType=TIMESTAMP},
			</if>
			<if test="filesize != null">
				filesize = #{filesize, jdbcType=INTEGER},
			</if>
			<if test="visID != null">
				visID = #{visID, jdbcType=VARCHAR},
			</if>
			<if test="attID != null">
				attID = #{attID, jdbcType=VARCHAR},
			</if>
			<if test="istextcontent != null">
				istextcontent = #{istextcontent, jdbcType=INTEGER},
			</if>
			<if test="textcontent != null">
				textcontent = #{textcontent, jdbcType=VARCHAR},
			</if>
		</trim>
		where
          fileID = #{fileID, jdbcType=VARCHAR}
		
	</update>

 
	<delete id="deleteFileattById" parameterType="string"> 
        delete from fileatt
        where fileID = #{id}
	</delete>
	

	<delete id="deleteFileatts" parameterType="com.glaf.isdp.query.FileattQuery">
		delete from fileatt
		where ( fileID IN
		<foreach item="x_rowId" index="index" collection="rowIds" open="(" separator="," close=")">
              #{x_rowId}
		</foreach>
		)
	</delete>


	<select id="getFileattById" parameterType="string" resultMap="fileattResultMap">
		select * from fileatt where fileID = #{id}
	</select>


	<select id="getFileattById_postgres" parameterType="string" resultMap="fileattResultMap_postgres">
		select * from fileatt where fileID = #{id}
	</select>


	<select id="getFileattCount" 
		parameterType="map"
		resultType="int">
		select count(*)
		<include refid="selectFileattsSql" />
	</select>


	<select id="getFileattCountByQueryCriteria" 
		parameterType="com.glaf.isdp.query.FileattQuery"
		resultType="int">
		select count(*)
		<include refid="selectFileattsSql" />
	</select>


	<select id="getFileatts" 
		parameterType="map"
		resultMap="fileattResultMap">
		
        select  E.topid,E.fileID,E.num,E.actor,E.fname,E.file_name,E.vision,
                E.ctime,E.filesize,E.visID,E.attID,E.Istextcontent,E.textcontent
                
		<include refid="selectFileattsSql" />
		<if test="orderBy != null">
		   order by ${orderBy}
		</if>
	</select>

	<select id="getFileattsByQueryCriteria" 
		parameterType="com.glaf.isdp.query.FileattQuery"
		resultMap="fileattResultMap">
		
        select  E.topid,E.fileID,E.num,E.actor,E.fname,E.file_name,E.vision,
                E.ctime,E.filesize,E.visID,E.attID,E.Istextcontent,E.textcontent
                
		<include refid="selectFileattsSql" />
		<if test="orderBy != null">
		   order by ${orderBy}
		</if>
	</select>


	<sql id="selectFileattsSql">

		from fileatt E
		 
		<where>
			
		       1 = 1  

			<if test="topid != null and topid != '' ">
				and E.topid = #{topid}
			</if>

			<if test="topidLike != null and topidLike != '' ">
				and E.topid like #{topidLike}
			</if>

			<if test="topids != null and topids.size() &gt; 0">
			    and E.topid IN
				<foreach item="x_topid" index="index" collection="topids" 
					open="(" separator="," close=")">
                  #{x_topid}
				</foreach>
			</if>
			
			<if test="numLike != null and numLike != '' ">
				and E.num like #{numLike}
			</if>

			<if test="actorLike != null and actorLike != '' ">
				and E.actor like #{actorLike}
			</if>
	       
			<if test="fnameLike != null and fnameLike != '' ">
				and E.fname like #{fnameLike}
			</if>

			<if test="fileNameLike != null and fileNameLike != '' ">
				and E.file_name like #{fileNameLike}
			</if>

			<if test="vision != null and vision != '' ">
				and E.vision = #{vision}
			</if>

			<if test="visionLike != null and visionLike != '' ">
				and E.vision like #{visionLike}
			</if>

			<if test="ctimeGreaterThanOrEqual != null">
				and E.ctime &gt;= #{ctimeGreaterThanOrEqual}
			</if>

			<if test="ctimeLessThanOrEqual != null">
				and E.ctime &lt;= #{ctimeLessThanOrEqual}
			</if>

			<if test="filesizeGreaterThanOrEqual != null">
				and filesize &gt;= #{filesizeGreaterThanOrEqual}
			</if>

			<if test="filesizeLessThanOrEqual != null">
				and E.filesize &lt;= #{filesizeLessThanOrEqual}
			</if>
	        
			<if test="visID != null and visID != '' ">
				and E.visID = #{visID}
			</if>

			<if test="visIDLike != null and visIDLike != '' ">
				and E.visID like #{visIDLike}
			</if>

			<if test="visIDs != null and visIDs.size() &gt; 0">
			    and E.visID IN
				<foreach item="x_visID" index="index" collection="visIDs" 
					open="(" separator="," close=")">
                  #{x_visID}
				</foreach>
			</if>
	        
			<if test="attID != null and attID != '' ">
				and E.attID = #{attID}
			</if>

			<if test="attIDLike != null and attIDLike != '' ">
				and E.attID like #{attIDLike}
			</if>

			<if test="attIDs != null and attIDs.size() &gt; 0">
			    and E.attID IN
				<foreach item="x_attID" index="index" collection="attIDs" 
					open="(" separator="," close=")">
                  #{x_attID}
				</foreach>
			</if>

		</where>
	</sql>

</mapper>