<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.isdp.mapper.IsdpCellFillFormMapper">

	<resultMap id="cellFillformResultMap"	type="com.glaf.isdp.domain.IsdpCellFillForm">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="topid" column="topid" jdbcType="VARCHAR"/>
		<result property="indexId" column="index_id" jdbcType="INTEGER"/>
		<result property="taskId" column="task_id" jdbcType="VARCHAR"/>
		<result property="pfileflag" column="pfileflag" jdbcType="INTEGER"/>
		<result property="filedotFileid" column="filedot_fileid" jdbcType="VARCHAR"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
		<result property="chknum" column="chknum" jdbcType="VARCHAR"/>
		<result property="listno" column="listno" jdbcType="INTEGER"/>
		<result property="chktotal" column="chktotal" jdbcType="INTEGER"/>
		<result property="chkresult" column="chkresult" jdbcType="INTEGER"/>
		<result property="pfileId" column="pfile_id" jdbcType="VARCHAR"/>
		<result property="tempsave" column="tempsave" jdbcType="INTEGER"/>
		<result property="userid" column="userid" jdbcType="VARCHAR"/>
		<result property="refillflag" column="refillflag" jdbcType="INTEGER"/>
		<result property="groupid" column="groupid" jdbcType="INTEGER"/>
		<result property="oldId" column="old_id" jdbcType="VARCHAR"/>
		<result property="roleId" column="role_id" jdbcType="INTEGER"/>
		<result property="isfinish" column="isfinish" jdbcType="INTEGER"/>
		<result property="typeTablename" column="type_tablename" jdbcType="VARCHAR"/>
		<result property="typeId" column="type_id" jdbcType="VARCHAR"/>
		<result property="typeIndexId" column="type_index_id" jdbcType="INTEGER"/>
		<result property="mainId" column="main_id" jdbcType="VARCHAR"/>
		<result property="intlastpage" column="intlastpage" jdbcType="INTEGER"/>
		<result property="intsheets" column="intsheets" jdbcType="INTEGER"/>
	</resultMap>


	<resultMap id="cellFillformHashMap"	type="java.util.HashMap">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<result property="topid" column="topid" jdbcType="VARCHAR"/>
		<result property="indexId" column="index_id" jdbcType="INTEGER"/>
		<result property="taskId" column="task_id" jdbcType="VARCHAR"/>
		<result property="pfileflag" column="pfileflag" jdbcType="INTEGER"/>
		<result property="filedotFileid" column="filedot_fileid" jdbcType="VARCHAR"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
		<result property="chknum" column="chknum" jdbcType="VARCHAR"/>
		<result property="listno" column="listno" jdbcType="INTEGER"/>
		<result property="chktotal" column="chktotal" jdbcType="INTEGER"/>
		<result property="chkresult" column="chkresult" jdbcType="INTEGER"/>
		<result property="pfileId" column="pfile_id" jdbcType="VARCHAR"/>
		<result property="tempsave" column="tempsave" jdbcType="INTEGER"/>
		<result property="userid" column="userid" jdbcType="VARCHAR"/>
		<result property="refillflag" column="refillflag" jdbcType="INTEGER"/>
		<result property="groupid" column="groupid" jdbcType="INTEGER"/>
		<result property="oldId" column="old_id" jdbcType="VARCHAR"/>
		<result property="roleId" column="role_id" jdbcType="INTEGER"/>
		<result property="isfinish" column="isfinish" jdbcType="INTEGER"/>
		<result property="typeTablename" column="type_tablename" jdbcType="VARCHAR"/>
		<result property="typeId" column="type_id" jdbcType="VARCHAR"/>
		<result property="typeIndexId" column="type_index_id" jdbcType="INTEGER"/>
		<result property="mainId" column="main_id" jdbcType="VARCHAR"/>
		<result property="intlastpage" column="intlastpage" jdbcType="INTEGER"/>
		<result property="intsheets" column="intsheets" jdbcType="INTEGER"/>
	</resultMap>
 
	<insert id="insertCellFillForm" parameterType="com.glaf.isdp.domain.IsdpCellFillForm">
		insert into cell_fillform 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    id
			<if test="topid != null">
				,topid 
			</if>
			<if test="indexId != null">
				,index_id 
			</if>
			<if test="taskId != null">
				,task_id 
			</if>
			<if test="pfileflag != null">
				,pfileflag 
			</if>
			<if test="filedotFileid != null">
				,filedot_fileid 
			</if>
			<if test="name != null">
				,name 
			</if>
			<if test="chknum != null">
				,chknum 
			</if>
			<if test="listno != null">
				,listno 
			</if>
			<if test="chktotal != null">
				,chktotal 
			</if>
			<if test="chkresult != null">
				,chkresult 
			</if>
			<if test="pfileId != null">
				,pfile_id 
			</if>
			<if test="tempsave != null">
				,tempsave 
			</if>
			<if test="userid != null">
				,userid 
			</if>
			<if test="refillflag != null">
				,refillflag 
			</if>
			<if test="groupid != null">
				,groupid 
			</if>
			<if test="oldId != null">
				,old_id 
			</if>
			<if test="roleId != null">
				,role_id 
			</if>
			<if test="isfinish != null">
				,isfinish 
			</if>
			<if test="typeTablename != null">
				,type_tablename 
			</if>
			<if test="typeId != null">
				,type_id 
			</if>
			<if test="typeIndexId != null">
				,type_index_id 
			</if>
			<if test="mainId != null">
				,main_id 
			</if>
			<if test="intlastpage != null">
				,intlastpage 
			</if>
			<if test="intsheets != null">
				,intsheets 
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			  #{id, jdbcType=VARCHAR}
	     
			<if test="topid != null">
				,#{topid, jdbcType=VARCHAR}
			</if>
			<if test="indexId != null">
				,#{indexId, jdbcType=INTEGER}
			</if>
			<if test="taskId != null">
				,#{taskId, jdbcType=VARCHAR}
			</if>
			<if test="pfileflag != null">
				,#{pfileflag, jdbcType=INTEGER}
			</if>
			<if test="filedotFileid != null">
				,#{filedotFileid, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="chknum != null">
				,#{chknum, jdbcType=VARCHAR}
			</if>
			<if test="listno != null">
				,#{listno, jdbcType=INTEGER}
			</if>
			<if test="chktotal != null">
				,#{chktotal, jdbcType=INTEGER}
			</if>
			<if test="chkresult != null">
				,#{chkresult, jdbcType=INTEGER}
			</if>
			<if test="pfileId != null">
				,#{pfileId, jdbcType=VARCHAR}
			</if>
			<if test="tempsave != null">
				,#{tempsave, jdbcType=INTEGER}
			</if>
			<if test="userid != null">
				,#{userid, jdbcType=VARCHAR}
			</if>
			<if test="refillflag != null">
				,#{refillflag, jdbcType=INTEGER}
			</if>
			<if test="groupid != null">
				,#{groupid, jdbcType=INTEGER}
			</if>
			<if test="oldId != null">
				,#{oldId, jdbcType=VARCHAR}
			</if>
			<if test="roleId != null">
				,#{roleId, jdbcType=INTEGER}
			</if>
			<if test="isfinish != null">
				,#{isfinish, jdbcType=INTEGER}
			</if>
			<if test="typeTablename != null">
				,#{typeTablename, jdbcType=VARCHAR}
			</if>
			<if test="typeId != null">
				,#{typeId, jdbcType=VARCHAR}
			</if>
			<if test="typeIndexId != null">
				,#{typeIndexId, jdbcType=INTEGER}
			</if>
			<if test="mainId != null">
				,#{mainId, jdbcType=VARCHAR}
			</if>
			<if test="intlastpage != null">
				,#{intlastpage, jdbcType=INTEGER}
			</if>
			<if test="intsheets != null">
				,#{intsheets, jdbcType=INTEGER}
			</if>
		</trim>
	</insert>

	 
	<update id="updateCellFillForm" parameterType="com.glaf.isdp.domain.IsdpCellFillForm">
		update
		cell_fillform
		set
		<trim prefix="" suffix="" suffixOverrides=",">		
			<if test="topid != null">
				topid = #{topid, jdbcType=VARCHAR},
			</if>
			<if test="indexId != null">
				index_id = #{indexId, jdbcType=INTEGER},
			</if>
			<if test="taskId != null">
				task_id = #{taskId, jdbcType=VARCHAR},
			</if>
			<if test="pfileflag != null">
				pfileflag = #{pfileflag, jdbcType=INTEGER},
			</if>
			<if test="filedotFileid != null">
				filedot_fileid = #{filedotFileid, jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name, jdbcType=VARCHAR},
			</if>
			<if test="chknum != null">
				chknum = #{chknum, jdbcType=VARCHAR},
			</if>
			<if test="listno != null">
				listno = #{listno, jdbcType=INTEGER},
			</if>
			<if test="chktotal != null">
				chktotal = #{chktotal, jdbcType=INTEGER},
			</if>
			<if test="chkresult != null">
				chkresult = #{chkresult, jdbcType=INTEGER},
			</if>
			<if test="pfileId != null">
				pfile_id = #{pfileId, jdbcType=VARCHAR},
			</if>
			<if test="tempsave != null">
				tempsave = #{tempsave, jdbcType=INTEGER},
			</if>
			<if test="userid != null">
				userid = #{userid, jdbcType=VARCHAR},
			</if>
			<if test="refillflag != null">
				refillflag = #{refillflag, jdbcType=INTEGER},
			</if>
			<if test="groupid != null">
				groupid = #{groupid, jdbcType=INTEGER},
			</if>
			<if test="oldId != null">
				old_id = #{oldId, jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				role_id = #{roleId, jdbcType=INTEGER},
			</if>
			<if test="isfinish != null">
				isfinish = #{isfinish, jdbcType=INTEGER},
			</if>
			<if test="typeTablename != null">
				type_tablename = #{typeTablename, jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				type_id = #{typeId, jdbcType=VARCHAR},
			</if>
			<if test="typeIndexId != null">
				type_index_id = #{typeIndexId, jdbcType=INTEGER},
			</if>
			<if test="mainId != null">
				main_id = #{mainId, jdbcType=VARCHAR},
			</if>
			<if test="intlastpage != null">
				intlastpage = #{intlastpage, jdbcType=INTEGER},
			</if>
			<if test="intsheets != null">
				intsheets = #{intsheets, jdbcType=INTEGER},
			</if>
		</trim>
		where
          id = #{id, jdbcType=VARCHAR}
		
	</update>

 
	<delete id="deleteCellFillFormById" parameterType="string"> 
        delete from cell_fillform
        where id = #{id}
	</delete>
	

	<delete id="deleteCellFillForms" parameterType="com.glaf.isdp.query.CellFillFormQuery">
		delete from cell_fillform
		where ( id IN
		<foreach item="x_rowId" index="index" collection="rowIds" open="(" separator="," close=")">
              #{x_rowId}
		</foreach>
		)
	</delete>


	<select id="getCellFillFormById" parameterType="string" resultMap="cellFillformResultMap">
		select * from cell_fillform where id = #{id}
	</select>


	<select id="getFileCellFillFormCount" parameterType="map" resultType="int">
		 
		select count(*)  from cell_fillform  where exists(
		    select * from treepinfo where id like #{idLike} and cell_fillform.index_id=index_id
		) 
		and filedot_fileid in( 
		    select fileid from filedot where exists(
		        select * from cell_treedot_dot where index_id = #{indexId} and filedot_fileid=filedot.fileid
		    )
		)


	</select>
	
	
	<select id="getFileCellFillFormList" parameterType="map" resultMap="cellFillformResultMap">
		 
		select *  from cell_fillform  where exists(
		    select * from treepinfo where id like #{idLike} and cell_fillform.index_id=index_id
		) 
		and filedot_fileid in( 
		    select fileid from filedot where exists(
		        select * from cell_treedot_dot where index_id = #{indexId} and filedot_fileid=filedot.fileid
		    )
		)
		order by id

	</select>
	
	
	
	<select id="getCellFillFormCount" 
		parameterType="map"
		resultType="int">
		select count(*)
		<include refid="selectCellFillFormsSql" />
	</select>


	<select id="getCellFillFormCountByQueryCriteria" 
		parameterType="com.glaf.isdp.query.CellFillFormQuery"
		resultType="int">
		select count(*)
		<include refid="selectCellFillFormsSql" />
	</select>


	<select id="getCellFillForms" 
		parameterType="map"
		resultMap="cellFillformResultMap">
		select E.*
		<include refid="selectCellFillFormsSql" />
		<if test="orderBy != null">
		   order by ${orderBy}
		</if>
	</select>

	<select id="getCellFillFormsByQueryCriteria" 
		parameterType="com.glaf.isdp.query.CellFillFormQuery"
		resultMap="cellFillformResultMap">
		select E.*
		<include refid="selectCellFillFormsSql" />
		<if test="orderBy != null">
		   order by ${orderBy}
		</if>
	</select>


	<sql id="selectCellFillFormsSql">

		from cell_fillform E
		 
		<where>

		       1 = 1  

	        
			<if test="topid != null and topid != '' ">
				and E.topid = #{topid}
			</if>

			<if test="topidLike != null and topidLike != '' ">
				and E.topid like #{topidLike}
			</if>

			<if test="topids != null and topids.size != 0">
			    and E.topid IN
				<foreach item="x_topid" index="index" collection="topids" 
					open="(" separator="," close=")">
                  #{x_topid}
				</foreach>
			</if>


			<if test="indexId != null">
				and E.index_id = #{indexId}
			</if>

			<if test="indexIdGreaterThanOrEqual != null">
				and E.index_id &gt;= #{indexIdGreaterThanOrEqual}
			</if>

			<if test="indexIdLessThanOrEqual != null">
				and E.index_id &lt;= #{indexIdLessThanOrEqual}
			</if>

			<if test="indexIds != null and indexIds.size != 0">
			    and E.index_id IN
				<foreach item="x_indexId" index="index" collection="indexIds" 
					open="(" separator="," close=")">
                  #{x_indexId}
				</foreach>
			</if>

	        
			<if test="taskId != null and taskId != '' ">
				and E.task_id = #{taskId}
			</if>

			<if test="taskIdLike != null and taskIdLike != '' ">
				and E.task_id like #{taskIdLike}
			</if>

			<if test="taskIds != null and taskIds.size != 0">
			    and E.task_id IN
				<foreach item="x_taskId" index="index" collection="taskIds" 
					open="(" separator="," close=")">
                  #{x_taskId}
				</foreach>
			</if>


			<if test="pfileflag != null">
				and E.pfileflag = #{pfileflag}
			</if>

			<if test="pfileflagGreaterThanOrEqual != null">
				and E.pfileflag &gt;= #{pfileflagGreaterThanOrEqual}
			</if>

			<if test="pfileflagLessThanOrEqual != null">
				and E.pfileflag &lt;= #{pfileflagLessThanOrEqual}
			</if>

			<if test="pfileflags != null and pfileflags.size != 0">
			    and E.pfileflag IN
				<foreach item="x_pfileflag" index="index" collection="pfileflags" 
					open="(" separator="," close=")">
                  #{x_pfileflag}
				</foreach>
			</if>

	        
			<if test="filedotFileid != null and filedotFileid != '' ">
				and E.filedot_fileid = #{filedotFileid}
			</if>

			<if test="filedotFileidLike != null and filedotFileidLike != '' ">
				and E.filedot_fileid like #{filedotFileidLike}
			</if>

			<if test="filedotFileids != null and filedotFileids.size != 0">
			    and E.filedot_fileid IN
				<foreach item="x_filedotFileid" index="index" collection="filedotFileids" 
					open="(" separator="," close=")">
                  #{x_filedotFileid}
				</foreach>
			</if>

			<if test="nameLike != null and nameLike != '' ">
				and E.name like #{nameLike}
			</if>

			<if test="pfileId != null and pfileId != '' ">
				and E.pfile_id = #{pfileId}
			</if>

			<if test="pfileIdLike != null and pfileIdLike != '' ">
				and E.pfile_id like #{pfileIdLike}
			</if>

			<if test="pfileIds != null and pfileIds.size != 0">
			    and E.pfile_id IN
				<foreach item="x_pfileId" index="index" collection="pfileIds" 
					open="(" separator="," close=")">
                  #{x_pfileId}
				</foreach>
			</if>


			<if test="tempsave != null">
				and E.tempsave = #{tempsave}
			</if>

			<if test="tempsaveGreaterThanOrEqual != null">
				and E.tempsave &gt;= #{tempsaveGreaterThanOrEqual}
			</if>

			<if test="tempsaveLessThanOrEqual != null">
				and E.tempsave &lt;= #{tempsaveLessThanOrEqual}
			</if>

			<if test="tempsaves != null and tempsaves.size != 0">
			    and E.tempsave IN
				<foreach item="x_tempsave" index="index" collection="tempsaves" 
					open="(" separator="," close=")">
                  #{x_tempsave}
				</foreach>
			</if>

	        
			<if test="userid != null and userid != '' ">
				and E.userid = #{userid}
			</if>

			<if test="useridLike != null and useridLike != '' ">
				and E.userid like #{useridLike}
			</if>

			<if test="userids != null and userids.size != 0">
			    and E.userid IN
				<foreach item="x_userid" index="index" collection="userids" 
					open="(" separator="," close=")">
                  #{x_userid}
				</foreach>
			</if>


			<if test="refillflag != null">
				and E.refillflag = #{refillflag}
			</if>

			<if test="refillflagGreaterThanOrEqual != null">
				and E.refillflag &gt;= #{refillflagGreaterThanOrEqual}
			</if>

			<if test="refillflagLessThanOrEqual != null">
				and E.refillflag &lt;= #{refillflagLessThanOrEqual}
			</if>

			<if test="refillflags != null and refillflags.size != 0">
			    and E.refillflag IN
				<foreach item="x_refillflag" index="index" collection="refillflags" 
					open="(" separator="," close=")">
                  #{x_refillflag}
				</foreach>
			</if>


			<if test="groupid != null">
				and E.groupid = #{groupid}
			</if>

			<if test="groupidGreaterThanOrEqual != null">
				and E.groupid &gt;= #{groupidGreaterThanOrEqual}
			</if>

			<if test="groupidLessThanOrEqual != null">
				and E.groupid &lt;= #{groupidLessThanOrEqual}
			</if>

			<if test="groupids != null and groupids.size != 0">
			    and E.groupid IN
				<foreach item="x_groupid" index="index" collection="groupids" 
					open="(" separator="," close=")">
                  #{x_groupid}
				</foreach>
			</if>

	        
			<if test="oldId != null and oldId != '' ">
				and E.old_id = #{oldId}
			</if>

			<if test="oldIdLike != null and oldIdLike != '' ">
				and E.old_id like #{oldIdLike}
			</if>

			<if test="oldIds != null and oldIds.size != 0">
			    and E.old_id IN
				<foreach item="x_oldId" index="index" collection="oldIds" 
					open="(" separator="," close=")">
                  #{x_oldId}
				</foreach>
			</if>

			<if test="roleId != null">
				and E.role_id = #{roleId}
			</if>

			<if test="roleIdGreaterThanOrEqual != null">
				and E.role_id &gt;= #{roleIdGreaterThanOrEqual}
			</if>

			<if test="roleIdLessThanOrEqual != null">
				and E.role_id &lt;= #{roleIdLessThanOrEqual}
			</if>

			<if test="roleIds != null and roleIds.size != 0">
			    and E.role_id IN
				<foreach item="x_roleId" index="index" collection="roleIds" 
					open="(" separator="," close=")">
                  #{x_roleId}
				</foreach>
			</if>

			<if test="isfinish != null">
				and E.isfinish = #{isfinish}
			</if>

			<if test="isfinishGreaterThanOrEqual != null">
				and E.isfinish &gt;= #{isfinishGreaterThanOrEqual}
			</if>

			<if test="isfinishLessThanOrEqual != null">
				and E.isfinish &lt;= #{isfinishLessThanOrEqual}
			</if>

			<if test="isfinishs != null and isfinishs.size != 0">
			    and E.isfinish IN
				<foreach item="x_isfinish" index="index" collection="isfinishs" 
					open="(" separator="," close=")">
                  #{x_isfinish}
				</foreach>
			</if>

			<if test="typeTablename != null and typeTablename != '' ">
				and E.type_tablename = #{typeTablename}
			</if>

			<if test="typeTablenameLike != null and typeTablenameLike != '' ">
				and E.type_tablename like #{typeTablenameLike}
			</if>

			<if test="typeTablenames != null and typeTablenames.size != 0">
			    and E.type_tablename IN
				<foreach item="x_typeTablename" index="index" collection="typeTablenames" 
					open="(" separator="," close=")">
                  #{x_typeTablename}
				</foreach>
			</if>
	        
			<if test="typeId != null and typeId != '' ">
				and E.type_id = #{typeId}
			</if>

			<if test="typeIdLike != null and typeIdLike != '' ">
				and E.type_id like #{typeIdLike}
			</if>

			<if test="typeIds != null and typeIds.size != 0">
			    and E.type_id IN
				<foreach item="x_typeId" index="index" collection="typeIds" 
					open="(" separator="," close=")">
                  #{x_typeId}
				</foreach>
			</if>

			<if test="typeIndexId != null">
				and E.type_index_id = #{typeIndexId}
			</if>

			<if test="typeIndexIdGreaterThanOrEqual != null">
				and E.type_index_id &gt;= #{typeIndexIdGreaterThanOrEqual}
			</if>

			<if test="typeIndexIdLessThanOrEqual != null">
				and E.type_index_id &lt;= #{typeIndexIdLessThanOrEqual}
			</if>

			<if test="typeIndexIds != null and typeIndexIds.size != 0">
			    and E.type_index_id IN
				<foreach item="x_typeIndexId" index="index" collection="typeIndexIds" 
					open="(" separator="," close=")">
                  #{x_typeIndexId}
				</foreach>
			</if>
	        
			<if test="mainId != null and mainId != '' ">
				and E.main_id = #{mainId}
			</if>

			<if test="mainIdLike != null and mainIdLike != '' ">
				and E.main_id like #{mainIdLike}
			</if>

			<if test="mainIds != null and mainIds.size != 0">
			    and E.main_id IN
				<foreach item="x_mainId" index="index" collection="mainIds" 
					open="(" separator="," close=")">
                  #{x_mainId}
				</foreach>
			</if>

		</where>
	</sql>

</mapper>