<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.isdp.mapper.MailSendAttMapper">

	<resultMap id="mailSendAttResultMap"	type="com.glaf.isdp.domain.MailSendAtt">
		<id property="fileId" column="fileId" jdbcType="VARCHAR"/>
		<result property="topid" column="topid" jdbcType="VARCHAR"/>
		<result property="fileName" column="file_name" jdbcType="VARCHAR"/>
		<result property="ctime" column="ctime" jdbcType="TIMESTAMP"/>
		<result property="filesize" column="filesize" jdbcType="INTEGER"/>
	</resultMap>


	<resultMap id="mailSendAttHashMap"	type="java.util.HashMap">
		<id property="fileId" column="fileId" jdbcType="VARCHAR"/>
		<result property="topid" column="topid" jdbcType="VARCHAR"/>
		<result property="fileName" column="file_name" jdbcType="VARCHAR"/>
		<result property="ctime" column="ctime" jdbcType="TIMESTAMP"/>
		<result property="filesize" column="filesize" jdbcType="INTEGER"/>
	</resultMap>
 
	<insert id="insertMailSendAtt" parameterType="com.glaf.isdp.domain.MailSendAtt">
		insert into email_sendatt 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    fileId
			<if test="topid != null">
				,topid 
			</if>
			<if test="fileName != null">
				,file_name 
			</if>
			<if test="fileContent != null">
			</if>
			<if test="ctime != null">
				,ctime 
			</if>
			<if test="filesize != null">
				,filesize 
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			  #{fileId, jdbcType=VARCHAR}
	     
			<if test="topid != null">
				,#{topid, jdbcType=VARCHAR}
			</if>
			<if test="fileName != null">
				,#{fileName, jdbcType=VARCHAR}
			</if>
			<if test="fileContent != null">
			</if>
			<if test="ctime != null">
				,#{ctime, jdbcType=TIMESTAMP}
			</if>
			<if test="filesize != null">
				,#{filesize, jdbcType=INTEGER}
			</if>
		</trim>
	</insert>

	 
	<update id="updateMailSendAtt" parameterType="com.glaf.isdp.domain.MailSendAtt">
		update email_sendatt
		set
		<trim prefix="" suffix="" suffixOverrides=",">		
			<if test="topid != null">
				topid = #{topid, jdbcType=VARCHAR},
			</if>
			<if test="fileName != null">
				file_name = #{fileName, jdbcType=VARCHAR},
			</if>
			<if test="fileContent != null">
			</if>
			<if test="ctime != null">
				ctime = #{ctime, jdbcType=TIMESTAMP},
			</if>
			<if test="filesize != null">
				filesize = #{filesize, jdbcType=INTEGER},
			</if>
		</trim>
		where
          fileId = #{fileId, jdbcType=VARCHAR}
		
	</update>

 
	<delete id="deleteMailSendAttById" parameterType="string"> 
        delete from email_sendatt
        where fileId = #{id}
	</delete>
	

	<delete id="deleteMailSendAtts" parameterType="com.glaf.isdp.query.MailSendAttQuery">
		delete from email_sendatt
		where ( fileId IN
		<foreach item="x_rowId" index="index" collection="rowIds" open="(" separator="," close=")">
              #{x_rowId}
		</foreach>
		)
	</delete>


	<select id="getMailSendAttById" parameterType="string" resultMap="mailSendAttResultMap">
		select * from email_sendatt where fileId = #{id}
	</select>


	<select id="getMailSendAttCount" 
		parameterType="map"
		resultType="int">
		select count(*) from email_sendatt E
		<include refid="selectMailSendAttSql" />
	</select>


	<select id="getMailSendAttCountByQueryCriteria" 
		parameterType="com.glaf.isdp.query.MailSendAttQuery"
		resultType="int">
		select count(*) from email_sendatt E
		<include refid="selectMailSendAttSql" />
	</select>


	<select id="getMailSendAtts" 
		parameterType="map"
		resultMap="mailSendAttResultMap">
		select E.* from email_sendatt E
		<include refid="selectMailSendAttSql" />
		<if test="orderBy != null">
		   order by ${orderBy}
		</if>
	</select>


	<select id="getMailSendAttMapList" parameterType="map" resultType="map">
		select E.* from email_sendatt E 
		<include refid="selectMailSendAttSql" />
		<if test="orderBy != null">
		   order by ${orderBy}
		</if>
	</select>


	<select id="getMailSendAttsByQueryCriteria" 
		parameterType="com.glaf.isdp.query.MailSendAttQuery"
		resultMap="mailSendAttResultMap">
		select E.* from email_sendatt E
		<include refid="selectMailSendAttSql" />
		<if test="orderBy != null">
		   order by ${orderBy}
		</if>
	</select>


	<sql id="selectMailSendAttSql">
		 
		<where>

		   1 = 1  

	        
			<if test="topid != null and topid != '' ">
				and E.topid = #{topid}
			</if>

			<if test="topidLike != null and topidLike != '' ">
				and E.topid like #{topidLike}
			</if>

			<if test="topids != null and topids.size() &gt; 0">
			    and E.topid IN
				<foreach item="x_topid" index="index" collection="topids" 
					open="(" separator="," close=")">
                  #{x_topid}
				</foreach>
			</if>

	        
			<if test="fileName != null and fileName != '' ">
				and E.file_name = #{fileName}
			</if>

			<if test="fileNameLike != null and fileNameLike != '' ">
				and E.file_name like #{fileNameLike}
			</if>

			<if test="ctimeGreaterThanOrEqual != null">
				and E.ctime &gt;= #{ctimeGreaterThanOrEqual}
			</if>

			<if test="ctimeLessThanOrEqual != null">
				and E.ctime &lt;= #{ctimeLessThanOrEqual}
			</if>

			<if test="filesizeGreaterThanOrEqual != null">
				and E.filesize &gt;= #{filesizeGreaterThanOrEqual}
			</if>

			<if test="filesizeLessThanOrEqual != null">
				and E.filesize &lt;= #{filesizeLessThanOrEqual}
			</if>
			 
		</where>
	</sql>

</mapper>